body {
  font-family: Arial;
  background: #f2f2f2;
  padding: 20px;
}

.box {
  background: white;
  padding: 15px;
  margin-bottom: 20px;
  width: 300px;
  border-radius: 5px;
}

input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
}

button {
  padding: 6px;
  width: 100%;
}

